<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>PokeTrack uses the camera to identify Pokémon cards.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>POKETRACK_R2_BASE_URL</key>
	<string>https://pub-041bf18f03164be388647b4363f87908.r2.dev</string>
	<key>POKETRACK_R2_CATALOG_PREFIX</key>
	<string>data</string>
	<key>POKETRACK_R2_PRICING_PREFIX</key>
	<string></string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.app1xy.PokeTrack</key>
		<dict>
			<key>NSUbiquitousContainerName</key>
			<string>PokeTrack</string>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
