<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BINDR_R2_BASE_URL</key>
	<string>https://www.bindr-tcg.com</string>
	<key>BINDR_R2_CATALOG_PREFIX</key>
	<string>data</string>
	<key>BINDR_R2_PRICING_PREFIX</key>
	<string></string>
	<key>BINDR_SUPABASE_PUBLISHABLE_KEY</key>
	<string>sb_publishable_Qf1l21DJp7GZELyCLjt6Gg_7uMbEhrC</string>
	<key>BINDR_SUPABASE_URL</key>
	<string>https://eovjwogsniwfwxfrtoer.supabase.co</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.bindr.social</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bindr</string>
			</array>
		</dict>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.bindr.catalog.dailyrefresh</string>
	</array>
	<key>BINDR_COLLECTION_SYNC_WORKER_URL</key>
	<string>https://collection-sync.jordanhardcastle0.workers.dev</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
